@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: oswald;
    src: url(../fonts/Oswald.ttf);
}

@font-face {
    font-family: ralsteda;
    src: url(../fonts/Ralsteda.otf);
}

body{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-image: url(../img/background/background11.jpg);
}

.piano {
    background: -webkit-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    background: -moz-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    background: -o-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    background: linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
    border-top: 2px solid #111;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.5), inset 0 -4px 5px #000000;
    padding: 0 1% 3%;
    text-align: center;
    border-radius: 10px;
    height: 100%;
}

.key {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    width: 6%;
    max-width: 85px;
}

.key:active .black-key,
.key.active .black-key {
    top: -5px;
}

.key .white-key {
    background: -webkit-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: -moz-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: -o-linear-gradient(-30deg, #f8f8f8, #ffffff);
    background: linear-gradient(-30deg, #f8f8f8, #ffffff);
    box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
    display: block;
    height: 300px;
}

.key .white-key:active,
.key .white-key.active {
    box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px #000000, -3px 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -5px;
    height: 295px;
}

.key .black-key {
    content: "";
    box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(-20deg, #222222, #000000, #222222);
    background: -moz-linear-gradient(-20deg, #222222, #000000, #222222);
    background: -o-linear-gradient(-20deg, #222222, #000000, #222222);
    background: linear-gradient(-20deg, #222222, #000000, #222222);
    border-width: 1px 3px 8px;
    border-style: solid;
    border-color: #666 #222 #111 #555;
    height: 160px;
    position: absolute;
    top: 0px;
    right: -40%;
    width: 70%;
    z-index: 10;
}

.key .black-key:active,
.key .black-key.active {
    border-bottom-width: 3px;
    top: 0;
}

.titulo {
    font-family: ralsteda;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.9);
    font-size: 70px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.contenedor {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 900px;
}

.contenedor-busqueda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 420px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}

.busqueda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: 30px 0 30px 0;
}

.contenedor-canciones {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button {
    background-color: red;
    font-family: montserrat;
    border: none;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: #cc0000;
}

h1 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin: 10px 0 10px 0;
    font-family: Oswald;
}

h6, a, td {
    font-family: montserrat;
    font-size: 15px;
    color: black;
    margin: 10px;
}

a{
    margin: 0;
    color: red;
}

ul {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

td {
 
    font-size: 16px;
}